In [2]:
import folium
from folium.plugins import MarkerCluster
import pandas as pd

In [3]:
topRestData = pd.read_csv("./Resource/cleaned_Res.csv")

In [4]:
topRestData

,year,rank,restaurant,location,country,lat,lng,Region
0,2002,1,El Bulli,Roses,Spain,42.263949,3.179553,Europe
1,2002,2,Restaurant Gordon Ramsay,London,United Kingdom,51.507218,-0.127586,Europe
2,2002,3,The French Laundry,Yountville,United States,38.401578,-122.360810,North America
3,2002,4,Rockpool,Sydney,Australia,-33.868820,151.209295,Australia
4,2002,5,Spoon des Iles,Ile Maurice,Mauritius,-20.348404,57.552152,Africa
...,...,...,...,...,...,...,...,...
1045,2023,46,Orfali Bros Bistro,Dubai,United Arab Emirates,25.204849,55.270783,Asia
1046,2023,47,Mayta,Lima,Peru,-12.046689,-77.043088,South America
1047,2023,48,La Grenouillère,La Madelaine-sous-Montreuil,France,50.466809,1.748056,Europe
1048,2023,49,Rosetta,Mexico City,Mexico,19.432608,-99.133208,North America
1049,2023,50,The Chairman,Hong Kong,Hong Kong,22.319304,114.169361,Asia

In [5]:
repeatRank = topRestData['restaurant'].value_counts()
repeatRank['Mugaritz']

17

In [19]:
m = folium.Map(location=(12,-5), zoom_start=2)
marker_cluster = MarkerCluster().add_to(m)
reMark = []
for i,row in topRestData.iterrows():
    if row['restaurant'] not in reMark:
        folium.Marker(
            location = [row['lat'],row['lng']],
            popup = f"<h3>{row['restaurant']}</h3><br><p><strong>Times in top 50:</strong> {repeatRank[row['restaurant']]}<br><strong>Region:</strong> {row['Region']}</p>"
        ).add_to(marker_cluster)
        reMark.append(row['restaurant'])

In [20]:
m.save("index.html")